@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  position: relative;
  background-color: #0B1742;
}

img{
 border-radius: 100px;

}
footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #9b5d00;
  color: #0B1742;
  text-align: center;
  padding: 10px;
  z-index: 100;
}

a {
  text-decoration: none;
}

.navbar {
  z-index: 1000;
  font-size: 20px;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: transparent;
  transition: background-color 0.3s ease;
  position: fixed;
  width: 100vw;
  height: 14vh;
}


.navbar.colored {
  background-color: #000000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

#linha {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #ff9a00;
  transition: width 0.3s ease, left 0.3s ease;
}

.navbar.opacity {
  background-color: #050A30;
  backdrop-filter: saturate(180%) blur(4px);
}

#linha {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #0B1742;
    transition: width 0.3s ease, left 0.3s ease;
}
#icones {
  display: block;
  margin-left: 17em;

}

#icones a {
  margin-right: 5em;
  text-decoration: none;
  color: #ffffff;
}

#icones a:hover {

  color: rgb(255, 255, 255);
}


#icones img {
  width: 200px;
  height: 200px;
  margin-right: 15em;
}


#icones {
  display: flex;
  justify-content: space-around;
  width: 700px;
  align-items: center;
  color: #0B1742;
  
}

.imagem {
  position: fixed;
  z-index: -1;
}

.gallery {
    padding-top: 300px;
    display: flex;
}

.gallery img {
    width: 200px;
    height: 200px;
    margin: 10px;
    cursor: pointer;
}

.social-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0B1742;
    padding: 15px 10px;
    border-radius: 5em;
    margin-right: 250px;
  
  }
  
  .social-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 0 10px;
    background-color: white;
    transition: 0.3s;
  }
  
  .social-button:hover {
    background-color: #ff9a00;
  }
  
  .social-buttons svg {
    transition: 0.3s;
    height: 20px;
  }
  
  .facebook {
    background-color: #3b5998;
  }
  
  .facebook svg {
    fill: #f2f2f2;
  }
  
  .facebook:hover svg {
    fill: #3b5998;
  }
  
  .github {
    background-color: #333;
  }
  
  .github svg {
    width: 25px;
    height: 25px;
    fill: #f2f2f2;
  }
  
  .github:hover svg {
    fill: #333;
  }
  
  .linkedin {
    background-color: #0077b5;
  }
  
  .linkedin svg {
    fill: #f2f2f2;
  }
  
  .linkedin:hover svg {
    fill: #0077b5;
  }
  
  .instagram {
    background-color: #c13584;
  }
  
  .instagram svg {
    fill: #f2f2f2;
  }
  
  .instagram:hover svg {
    fill: #c13584;
  }



  .swiper {
    position: relative;
    margin-top: 2em;
    margin-bottom: 3em;
    width: 300px;
    height: 300px;
    z-index: -10;
    border-radius: 1000px;
  
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  
  }
  
  

  .project-detail {
    color: #ff9a00;
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 0.5s, transform 0.5s;
  }
  
  .project-detail.active {
    opacity: 1;
    transform: translateX(0);
  }
.ed-hr{
background-color: #ff9a00;

}